@import '../../assets/variables';

.header {
  height: 120px;
  width: 100%;
  position: relative;
  float: left;
  top: 0;
  background-color: $primary-color;
  display:flex;
  h1 {
    margin: auto;
    cursor: pointer;
    color: $secondary-solid-color;
    font-family: $title-section-font;
    text-shadow: 1px 1px 0px #000,
      2px 2px 0px #000,
      2px 2px 0px #000,
      3px 3px 0px #999,
      4px 4px 0px #999,
      5px 5px 5px #000;
      font-style: normal;
    &:focus {
      outline: none;
    }
  }
}
