@import '../../assets/variables';

.footer{
  height: 80px;
  width: 100%;
  position: relative;
  float: left;
  bottom: 0;
  background-color: $primary-color;
  display: flex;
  .footer-text {
    color: #d4d4d4;
    margin: auto;
  }
  @media (max-width: 768px) {
    background-color: $primary-solid-color;
  }
}
