@import '../../assets/variables';

.band-details {
  background-color: $secondary-color;
  box-sizing: border-box;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 90px;
  position: relative;
  float: left;
  .band-header {
    height: 400px;
    width: 100%;
    display: flex;
    &.image-group {
      &.the-rolling-stones {
        background-image: url(/assets/images/the-rolling-stones.jpg);
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.the-beatles {
        background-image: url(/assets/images/the-beatles.jpg);
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.queen {
        background-image: url(/assets/images/queen.jpg);
        width: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
      }
    }
    .band-title {
      width: 100%;
      background: $primary-color;
      align-self: flex-end;
      bottom: 0;
      box-sizing: border-box;
      padding: 20px;
      min-height: 60px;
      h1 {
        color: $secondary-solid-color;
        font-family: $title-section-font;
      }
    }
  }
  .band-description {
    padding: 20px;
    box-sizing: border-box;
    p {
      font-size: 18px;
    }
  }
  .band-btn {
    background-color: $primary-solid-color;
    margin-top: 10px;
    color: $secondary-solid-color;
    font-family: $title-section-font;
    padding: 10px 20px;
    font-size: 21px;
  }
}

.close-video {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 99999;
  a {
    font-size: 24px;
    font-family: $content-font;
    color: $secondary-solid-color;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}