<!-- Video hide div -->

<div *ngIf="showVideo">
  <div class="close-video">
      <a (click)="showVideo=false">X</a>
  </div>
  <app-youtube-player [id]="band.video"></app-youtube-player>
</div>

<!-- Content -->

<div class="container">
  
    <div *ngIf="band" class="col-xs-12 band-details">
      <div class="band-header image-group" [ngClass]="band.id">
        <div class="band-title">
          <h1>{{band.name}}</h1>
        </div>
      </div>
      <div class="col-xs-12 band-description">
        <p>{{band.text}}</p>

        <!-- Show video button -->

        <p class="text-center">
          <button type="button" class="btn btn-default band-btn" (click)="showVideo=true">Ver video</button>
        </p>
      </div>
    </div>

    <!-- Page not found -->

    <div *ngIf="!band" class="col-xs-12">
      <app-page-not-found></app-page-not-found>
    </div>  
  
</div>