@import '../../assets/variables';

.construction {
  width: 100%;
  background-color: $secondary-color;
  box-sizing: border-box;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 90px;
  position: relative;
  float: left;
  min-height: 200px;
  display: flex;
  h1 {
    margin: auto;
    color: $primary-solid-color;
    font-family: $title-section-font;
    font-size: 50px;
    @media (max-width: 768px) {
      font-size: 35px;
    }
    @media (max-width: 480px) {
      font-size: 25px;
    }
  }
}