@import '../../assets/variables';

.video-container {
	width: 100vw;
	height: 100vh;
	background-color: $primary-color;
	position: fixed;
	left: 0;
	z-index: 9999;
	display: flex;
}

.video-iframe-container {
	height: 100vh;
	display: flex;
	.video-iframe {
		width:100%;
		margin: auto;
	}
}