<div class="video-container">
	
	<div class="col-xs-10 col-xs-offset-1 video-iframe-container">
		<div class="embed-responsive embed-responsive-16by9 video-iframe">
			<iframe class="embed-responsive-item" [src]='videoUrl' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
		
</div>