<div class="page-wrap">
	
	<!-- Header -->
	
	<header-component></header-component>
	
	<!-- Content -->
	
	<div class="container">
	  <router-outlet></router-outlet>
	</div>
	
</div>

<!-- Footer -->

<footer-component></footer-component>
