// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto');

// Colors
$primary-color: rgba(0,0,0,0.8);
$secondary-color: rgba(255,255,255,0.8);
$secondary-solid-color: #FFFFFF;
$primary-solid-color: #000;

// Fonts
$title-section-font: 'Alfa Slab One', cursive;
$content-font: 'Roboto', sans-serif;
