// Bootstrap styles

@import "assets/bootstrap-sass/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

// Custom styles

@import './assets/variables';

  body {
    background-image: url(/assets/images/wall.jpg);
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $content-font;
    height: 100vh;
    .page-wrap {
      min-height: 100%;
      /* equal to footer height */
      margin-bottom: -80px; 
    }
  }

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
