<div class="container">
 
  <div class="col-xs-12 head-title">
  	<h1>¿CUÁL ES TU BANDA FAVORITA?</h1>
  </div>

  <!-- Bands menu -->

  <a *ngFor="let band of bands"  [routerLink]="['/', band.id]"  class="bands col-sm-4">
    <div class="module bands">
      <div class="image-group" [ngClass]="band.id"></div>
    </div>
  </a>
  
</div>
