 @import '../../assets/variables';

 .head-title{
    margin: 80px 0px 50px 0px;
    text-align: center;
    h1 {
      color: $primary-solid-color;
      font-family: $title-section-font;
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
 }

 .bands {
    margin: 0px auto;
    .module {
      text-align: center;
      color: #eee;
      height: 250px;
      width: 100%;
      display: flex;
      overflow: hidden;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        z-index: 99;
        height: 250px;
        -webkit-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.75);

      }
      h4{
        margin: auto;
      }
      .image-group {
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        &:hover {
          transform: scale(1.1);
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1); /* IE 9 */
        }
        &.the-rolling-stones {
          background-image: url(/assets/images/rolling-logo.jpg);
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 6px;
        }
        &.the-beatles {
          background-image: url(/assets/images/beatles-logo.jpg);
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 6px;
        }
        &.queen {
          background-image: url(/assets/images/queen-logo.jpg);
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 6px;
        }
      }

    }
    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%;
    }
  }


